<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title th:text="${title}"></title>
</head>
<body>

<div class="container" style="max-width: 1000px">

    <div class="py-5 text-center">
        <h2>주문내역</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{./Order}'|"
                    type="button">주문
            </button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>주문일자</th>
                <th>주문번호</th>
                <th>계좌번호</th>
                <th>종목코드</th>
                <th>주문가격</th>
                <th>주문수량</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ord : ${pg.records}">
                <td th:text="${ord.ordDt}"></td>
                <td th:text="${ord.ordNt}"></td>
                <td th:text="${ord.acntNo}"></td>
                <td th:text="${ord.isuNo}"></td>
                <td th:text="${ord.ordQty}"></td>
                <td th:text="${ord.ordPrc}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>